#poster {
	transform: scale(0) rotateX(90deg) rotateY(90deg);
	transition: all 5s ease;
	display: flex;
	justify-content: center;
	align-items: center;

	perspective: 100px !important;
	width: 100%;
	max-width: $posterW;
	max-height: $posterH;

	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	canvas {
		width: 100% !important;
	}

	&.ready {
		transform: scale(1);
	}
}
