@import "variables.scss";

body {
  font-family: sans-serif;
}
*:focus {
  outline: none;
}

#ui {
  label {
    font-size: 12px;
    text-transform: uppercase;
    color: $uiFG;
  }
  input {
    background: #555555;
  }
}

.controller {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 15px;

  .controller-label {
  }
  .controller-controller  {
    width: 100% !important;
  }

  input {
    width: 100% !important;
  }
}

::-moz-selection {
  background: transparent;
}
::selection {
  background: transparent;
}
