@import 'fonts.scss';
@import 'variables.scss';
@import 'poster.scss';

body,
html {
	background: black;
	font-family: $uiFontSans, sans-serif;
}

textarea,
input,
select,
button {
	font-family: $uiFontSans, sans-serif;
}
*:focus {
	outline: none;
}

body {
	font-size: $baseText;
}

#ui,
#uiRight {
	label {
		font-size: $uiText;
		text-transform: uppercase;
		color: $uiFG;
	}
	input {
	}
}

.controller {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-top: 15px;
	margin-bottom: 30px;

	.controller-label {
		font-family: $uiFontSans, sans-serif;
	}
	.controller-controller  {
		width: 100% !important;
	}

	input {
		width: 100% !important;
	}
}

::-moz-selection {
	background: transparent;
}
::selection {
	background: transparent;
}

textarea::-moz-selection {
	background: yellow;
}
textarea::selection {
	background: $uiSecondary;
	color: $uiBG;
}

button,
select {
	height: 30px;
	width: 100% !important;
	border: 1px solid $uiMix;
	border-radius: 0;
	color: $uiSecondary;
	background: $uiBG;
	transition: all 0.5s ease;
	cursor: pointer;
	text-transform: uppercase;
	&:hover {
		color: $uiBG;
		border-color: $uiSecondary;
		background: $uiSecondary;
	}
}

.branding {
	padding: $uiPadding;

	h1 {
		font-family: $uiFontSans, sans-serif;
		color: $uiSecondary;
		// font-weight: normal;
		font-size: 30px;

		sup {
			font-size: 12px;
			font-weight: normal;
		}
	}
}

/*	
 =========================================
 Scrollbar
 =========================================
*/

/* width */
::-webkit-scrollbar {
	width: 5px;

	background: transparent;
	/* background: #cccccc;  */
}

/* Track */
::-webkit-scrollbar-track {
	background: $uiFG;
}

/* Handle */
::-webkit-scrollbar-thumb {
	z-index: 10 !important;
	background: $uiBG;
	cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $uiMix;
}
