// USER INTERFACE

$uiWidth: 330px;
$uiBG: #131313;
$uiMix: #777777;
$uiFG: #aaaaaa;
$uiPrimary: red;
$uiWhite: white;
$uiSecondary: #42f462;

$uiPadding: 15px;

$uiButtonWidth: 300px;

// Typograhy
$baseText: 13px;
$uiText: 12px;
$uiGroupHead: 15px;

// CANVAS

$posterW: 586px;
$posterH: 810px;
