// USER INTERFACE

$uiWidth: 330px;
$uiBG: #131313;
$uiMix: #444444;
$uiFG: #cccccc;
$uiPrimary: red;
$uiWhite: white;
$uiSecondary: #ff0000;
$uiRecording: red;
// $uiSecondary: red;

$uiFontSans: "Roboto";
$uiFontMono: "Roboto Mono";

$uiPadding: 15px;

$uiButtonWidth: 200px;

// Typograhy
$baseText: 13px;
$uiText: 12px;
$uiGroupHead: 15px;

// CANVAS

$posterW: 586px;
$posterH: 810px;
