// USER INTERFACE

$uiWidth: 330px;
$uiBG: #131313;
$uiMix: #333333;
$uiFG: #aaaaaa;
$uiPrimary: red;
$uiWhite: white;
$uiSecondary: #f54123;
$uiRecording: #f54123;
// $uiSecondary: red;

$uiPadding: 15px;

$uiButtonWidth: 200px;

// Typograhy
$baseText: 13px;
$uiText: 12px;
$uiGroupHead: 15px;

// CANVAS

$posterW: 586px;
$posterH: 810px;
